{% load widget_tweaks %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

    <link rel="stylesheet" href="{% static 'css/log_in.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/ddee993d4e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="form-card">
                <div class="inner-box">
                    <div class="card-front">
                        <h2>Login</h2>
                        <form method="POST">{% csrf_token %}
                            {% render_field form.username class="input-box" placeholder="email@domain.com" %}
                            {% render_field form.password class="input-box" placeholder="password" %}
                            <button class="btn btn2" type="submit">Login</button>
                        </form>
                        <a href="{% url 'home_app:home' %}">Forget password?</a>
                    </div>
                </div> 
            </div>
            
        </div>
    </div>
    
</body>
</html>